@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --base-font: "Montserrat", sans-serif;
  --app-font: "Berkshire Swash", cursive;
  --small-text: 0.8rem;
  /* colors */
  --text-primary: #333;
  --text-secondary: #f8e7c0;
  --grey-color: grey;
  --error-color: crimson;
  --color-primary: #e6af2e;
  --color-pirmary-dark: #a17a20;
  --color-primary-light: #f3e8bf;
}

body {
  font-size: 100%;
  font-family: var(--base-font);
}

.small__text {
  font-size: var(--small-text);
  padding-bottom: 0.5rem;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container {
  padding: 2rem 2rem;
  background-color: var(--color-primary-light);
  min-height: calc(100vh - 71.55px);
}
/* 
  *********************************************************************************************************************************
  NAVBAR COMPONENT STYLES
  *********************************************************************************************************************************
*/
.navbar {
  display: flex;
  background-color: var(--text-primary);
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-secondary);
}
.navbar__logo-text {
  position: relative;
  margin-bottom: 12px;
}
.navbar__logo-subtitle {
  position: absolute;
  font-size: 0.625rem;
}

.navbar__logo-wrapper {
  width: 50px;
}

.navbar__links {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  gap: 1rem;
}

.navbar__links:hover {
  color: var(--color-pirmary-dark);
}

.navbar .btn {
  padding: 0.25rem 0.75rem;
}

.navbar .btn:hover {
  background-color: var(--color-pirmary-dark);
}

/* 
  *********************************************************************************************************************************
  FORM COMPONENT STYLES
  *********************************************************************************************************************************
*/
.form__title {
  color: var(--text-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.form__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.form {
  max-width: 600px;
  margin: 0 auto;
}
.form__control {
  display: flex;
  flex-direction: column;
  gap: 0.425rem;
  margin-bottom: 0.5rem;
}
.form__control input {
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--color-primary-light);
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  outline: none;
}

.form__control .input__error {
  border-color: var(--error-color);
}
.btn {
  background-color: var(--color-primary);
  color: #171105;
  border: 2px solid var(--color-primary);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: 350ms;
}

.btn:hover {
  background-color: var(--color-pirmary-dark);
  border-color: var(--color-pirmary-dark);
}
.error {
  color: var(--error-color);
  text-align: center;
  padding: 1rem;
}

/* 
  *********************************************************************************************************************************
  CREATE PAGE STYLES
  *********************************************************************************************************************************
*/

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .main {
    flex-direction: row;
  }
}

/* 
  *********************************************************************************************************************************
  INGREDIENTS COMPONENT STYLES
  *********************************************************************************************************************************
*/

.ingredients__title {
  color: var(--text-primary);
  text-align: center;
  /* margin-bottom: -0.1rem; */
  margin-bottom: 0.5rem;
  font-family: var(--app-font);
}
.ingredients__subtitle {
  color: var(--text-primary);
  text-align: center;
  font-size: var(--small-text);
  margin-bottom: 1rem;
  font-family: var(--app-font);
}

.ingredient__list {
  background-color: transparent;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.ingredient {
  width: 90px;
  height: 90px;
  display: grid;
  place-items: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: 350ms;
  margin-bottom: -15px;
}
.ingredient__title {
  font-size: var(--small-text);
  font-family: var(--app-font);
  text-align: center;
}
.ingredient:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 700px) {
  .ingredient__list {
    flex-direction: column;
    align-items: center;
  }
}

/* 
  *********************************************************************************************************************************
  BURGER COMPOSER COMPONENT STYLES
  *********************************************************************************************************************************
*/

.burger__composer-title {
  font-family: var(--app-font);
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 2rem;
}
.burger__composer {
  width: 70%;
  margin: 0 auto;
}
/* 
.burger__composer-img {
  margin-bottom: -10px;
} */
.burger__composer_image-stack {
  position: relative;
  z-index: 1;
}
.top__bun,
.bottom__bun {
  max-width: 450px;
  position: relative;
  margin: 0 auto;
}
.burger__composer_image-container {
  max-width: 400px;
  height: 70px;
  margin: 0px auto;
  cursor: pointer;
  position: relative;
}
.ingredient__image {
  height: 100%;
  object-fit: fill;
}
